<%= render "partials/header" %>

<div class="background">
  <div class="read">
    <% @manga.first(10).each do |manga| %>
    <%= image_tag  "chapter.jpg" %>
    <br>
    <% end %>
  </div>

  <div class="pagination justify-content-center"><%= paginate @manga %></div>
</div>