<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand"><%= link_to  "Blogmanga", controller: "page",action: "homepage", class: "btn btn-primary" %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <div class="nav-link"><%= link_to  "Category", controller: "categories",
          action: "index", class: "btn btn-primary" %>
          </div>
        </li>
        <li class="nav-item active">
          <div class="nav-link"><%= link_to  "Author", controller: "authors", action: "index" %></div>
        </li>
      </ul>
    </div>
  </div>
</nav>
