 <%= render  "partials/header" %>

 <div class="content">
    <h1> New Author </h1>
    <%= form_with scope: :author, url: authors_path, class: "form", local: true do |form| %>
  
      <%= form.label :name %><br>
      <%= form.text_field :name %>
      <%= form.submit  "Save" %>
    <% end %>

    <%= link_to "", authors_path %>
</div>

