
<!-- Header -->
<%= render "partials/header" %>

<!-- Manga List -->
<div class="container">
<h1 class="my-4">Manga List</h1>
<% @mangas.each do |manga| %>
<div class="row">
  <div class="col-md-7">
    <a href="#">
      <%= image_tag(manga.img_path, size: "600x300") %>
    </a>
  </div>
  <div class="col-md-5">
    <h3><%= manga.name %></h3>
    <h5>Author: <%= manga.author.name %></h5>
    <h6>Category: <%= manga.category.name %></h6>
    <p><%= manga.summary %></p>
    <div class="btn btn-dark">
      <%= link_to  "Read more", controller: "manga", action: "index" %>
    </div>
  </div>
</div>
<hr>
<% end %>

<!-- Pagination -->
<div class="pagination justify-content-center"><%= paginate @mangas %></div>

<!-- Footer -->
<%= render "partials/footer" %>


