  <%= render "partials/header" %>


  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table">
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-xs-6">
                    <h3 class="panel-title">Category</h3>
                  </div>
                  <div class="col col-xs-6 text-right">
                    <div class="btn btn-dark">
                    <%= link_to  "New Category", new_category_path %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <table class="table table-striped table-bordered table-list">
                  <thead>
                    <tr>
                        <th><em class="fa fa-cog"></em></th>
                        <th class="hidden-xs">ID</th>                       <th>Name</th>
                    </tr> 
                   </thead>
                        <tbody>
                        <% @category.each do |category| %>
                          <tr>
                            <td align="center">
                              <div class="btn btn-danger"><em class="fa fa-trash"></em>
                                <%= link_to  "Delete", category_path(category),
                                method: :delete, data: {confirm: "Are you sure?"} %>
                              </div>
                            </td>
                            <td class="hidden-xs"><%= category.id %></td>
                            <td><%= category.name %></td>
                          </tr>
                        <% end %>  
                        </tbody>
                </table>
              </div>
</div></div></div>