 <%= render  "partials/header" %>
 
 <div class="content">
    <h1> New Category </h1>
    <%= form_with scope: :category, url: categories_path, class: "form", local: true do |form| %>
  
      <%= form.label :name %><br>
      <%= form.text_field :name %>
      <%= form.submit  "Save" %>
    <% end %>

    <%= link_to "", categories_path %>
</div>
